<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="APITestSuite">
    <test name="APITest">
        <listeners>
            <listener class-name="Reporting.Setup"/>
        </listeners>
        <classes>
            <class name="Fourdoor.GetSuperCategory"/>
        </classes>
    </test>
</suite>
